<!-- 纯HTML表单 -->
<!-- <form action="/register" method="post">
  <div>用户名: <input type="text" required pattern="[a-zA-Z0-9]"></div>
  <div>手机号: <input type="text"></div>
  <div>邮政编码: <input type="number" min="000000" max="999999"></div>
  <div>密码: <input type="password"></div>
  <div>确认密码: <input type="password"></div>
  <button type="submit">注册</button>
</form> -->
<!-- 表单应该具有以下几个功能
1.每个输入字段都可以独立指定一些校验规则
2.如果用户输入的不符合规则,那么就在输入框旁边提示错误
3.彼此依赖的字段应该总是被一起校验
4.应用应该可以确认提交表单的值
5.应用应该可以控制这些数据如何被提交到服务器 -->
<!-- HTML提供了简单的校验,也可以简单地提示错误,还可以简单地设置格式 -->
<!-- <app-template-form></app-template-form> -->
<!-- <app-reactive-form></app-reactive-form> -->
<app-register-form></app-register-form>